<a href="https://colab.research.google.com/github/DikshaShelar56/CoffeeShop_Management_System/blob/main/Week_1_D4_DikshaShelar_DSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 1. Write a Python program to perform basic arithmetic operations.

a = int(input("Enter first number: "))        # taking input for first number
b = int(input("Enter second number: "))       # taking input for second number
print("First Number=", a,"Second Number=",b)  # printing values

#performing the operations
print("Addition of",a, "and",b,"=", a + b)
print("Subtraction of",a, "and",b,"=", a - b)
print("Multiplication of",a, "and",b,"=", a * b)
print("Division of",a, "and",b,"=", a / b)

Enter first number: 200
Enter second number: 50
First Number= 200 Second Number= 50
Addition of 200 and 50 = 250
Subtraction of 200 and 50 = 150
Multiplication of 200 and 50 = 10000
Division of 200 and 50 = 4.0

In [4]:
# 2. Create a program that takes input and displays its data type.

var = input("Enter something: ")    # taking user input
print("Data type is:", type(var))   # displaying its data type

Enter something: Diksha
Data type is: <class 'str'>

In [5]:
# 3. Write a program to swap two variables using a third variable.

a = input("Enter first value: ")        # taking user input
b = input("Enter second value: ")       # taking user input
print("Before swap: a =", a, "b =", b)  # printing values
temp = a   # assigning value of a to temp variable
a = b      # assigning value of b to a
b = temp   # assigning value of temp to b
print("After swap: a =", a, "b =", b)   # displaying swapped values

Enter first value: Diksha
Enter second value: Shelar
Before swap: a = Diksha b = Shelar
After swap: a = Shelar b = Diksha

In [6]:
# 4. Convert Celsius to Fahrenheit using a user-defined formula.

cel = float(input("Enter Temperature Value in Celsius: "))
fah = (cel * 9/5) + 32  # applying formula
print("Given Temperature in Fahrenheit:", fah)

Enter Temperature Value in Celsius: 26
Given Temperature in Fahrenheit: 78.8

In [9]:
# 5. Check whether a number is even or odd.

num= int(input("Enter a number: ")) # taking user input
# Odd Even checking
print(num,"is an Even Number" if num % 2 == 0 else "is an Odd Number")

Enter a number: 7
7 is an Odd Number

In [10]:
# 6. Determine if a number is positive, negative, or zero.

num= int(input("Enter a number: ")) # taking user input
# applying conditions
if num > 0:
  print(num,"is a Positive Number")
elif num < 0:
  print(num,"is a Negative Number")
else:
  print(num,"is a Zero")

Enter a number: 56
56 is a Positive Number

In [11]:
# 7. Calculate the area of a circle given its radius.

radius = float(input("Enter radius: ")) # taking user input
area = 3.14159 * radius * radius        # applying formula
print("Area of the Circle:", area)

Enter radius: 5
Area of the Circle: 78.53975

In [12]:
# 8. Display a multiplication table for any number using loops.

num = int(input("Enter a number: ")) # taking user input
# using for loop
for i in range(1,11):
    print(num, "x", i, "=", num * i)

Enter a number: 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [13]:
# 9. Create a program to print the first 10 natural numbers using a loop.

# using for loop
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [15]:
# 10. Write a program to check if a number is divisible by 3 and 5.

num = int(input("Enter number: ")) # taking user input
if num % 3 == 0 and num % 5 == 0:  # checking divisibility using 'and' operator
    print(num,"is Divisible by 3 and 5")
else:
    print(num,"is Not divisible by both")

Enter number: 15
15 is Divisible by 3 and 5

In [16]:
# 11. Print all prime numbers in a range entered by the user.

start = int(input("Enter start: "))   # input start
end = int(input("Enter end: "))       # input end
for num in range(start, end+1):       # loop from start to end
    if num > 1:
        for i in range(2, num):       # checking factors
            if num % i == 0:          # if divisible
                break                 # not prime
        else:
            print(num, end=" ")       # printing prime number

Enter start: 1
Enter end: 50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [17]:
# 12. Accept age and print whether the user is eligible to vote.

age = int(input("Enter your age: "))    # taking input age
# checking condition
if age >= 18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Enter your age: 19
You are eligible to vote

In [18]:
# 13. Write a program to find the sum of digits of a number.

num = int(input("Enter number: "))   # taking user input
sum = 0                              # initialize sum
while num > 0:                       # loop until number becomes 0
    sum += num % 10                  # get last digit and add
    num //= 10                       # remove last digit
print("Sum of digits:", sum)

Enter number: 123456
Sum of digits: 21

In [20]:
# 14.Display whether a year is a leap year or not.

year = int(input("Enter year: "))    # input year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0): # leap year logic
    print("Leap Year")
else:
    print("Not Leap Year")

Enter year: 2020
Leap Year

In [21]:
# 15. Take three numbers and print the largest one.

a = int(input("Enter First number: "))
b = int(input("Enter Second number: "))
c = int(input("Enter Third number: "))
print("Largest:", max(a, b, c))   # using max() function

Enter First number: 10
Enter Second number: 20
Enter Third number: 30
Largest: 30

In [26]:
# 16. Calculate the square root of a number using exponentiation.

num = float(input("Enter a number: "))          # taking user input
print("Square root of",num,"=", num ** 0.5)     # power of 0.5 = square root

Enter a number: 4
Square root of 4.0 = 2.0

In [27]:
# 17. Write a program that adds two numbers entered by the user.

a = float(input("Enter first number: "))   # taking user input
b = float(input("Enter second number: "))  # taking user input
print("Sum =", a + b)

Enter first number: 10.23
Enter second number: 26.10
Sum = 36.33

In [29]:
# 18. Convert seconds into hours, minutes, and seconds.

sec = int(input("Enter seconds: "))      # taking user input
hrs = sec // 3600                        # hours = total seconds รท 3600
min = (sec % 3600) // 60                 # minutes = remaining seconds รท 60
sec = sec % 60                           # leftover seconds
print("Hours= ",hrs,"Minutes= ",min,"Seconds= ",sec)

Enter seconds: 999999999999999999999
Hours=  277777777777777777 Minutes=  46 Seconds=  39

In [31]:
# 19. Write a simple calculator program using if-elif-else.

a = float(input("Enter first number: "))       # taking first input
b = float(input("Enter second number: "))      # taking second input
op = input("Enter operator (+,-,*,/): ")       # operator input
if op == '+':                                  # check operator
    print(a,"+",b,"= ", a + b)
elif op == '-':
    print(a,"-",b,"= ", a - b)
elif op == '*':
    print(a,"*",b,"= ", a * b)
elif op == '/':
    print(a,"/",b,"= ", a / b)
else:
    print("Invalid operator")

Enter first number: 265
Enter second number: 45
Enter operator (+,-,*,/): *
265.0 * 45.0 =  11925.0

In [33]:
# 20. Display the ASCII value of a given character.

char = input("Enter a character: ")  # input character
print("ASCII value:", ord(char))     # ord() gives ASCII

Enter a character: A
ASCII value: 65

In [34]:
# 21. Write a program to reverse a number using loops.

num = int(input("Enter a number: "))  # input number
rev = 0                               # initialize reversed number
while num > 0:                        # loop until number becomes 0
    rev = rev * 10 + num % 10         # add last digit to reverse
    num //= 10                        # remove last digit
print("Reversed Number= ", rev)

Enter a number: 123456789
Reversed Number=  987654321

In [35]:
# 22. Accept a string and print its first and last character.

str = input("Enter a string: ")  # input string
print("First character:", str[0])
print("Last character:", str[-1])

Enter a string: Diksha
First character: D
Last character: a

In [36]:
# 23. Concatenate two strings using user input.

s1 = input("Enter First string: ")     # input first string
s2 = input("Enter Second string: ")    # input second string
print("Concatenated:", s1 + s2)        # joining strings using + operator

Enter First string: Diksha
Enter Second string: Shelar
Concatenated: DikshaShelar

In [37]:
# 24. Write a program to repeat a string 10 times using a loop.

str = input("Enter a string: ")  # input string
for i in range(10):              # repeat loop 10 times
    print(str)

Enter a string: Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [39]:
# 25. Take a string and print its length using len().

str = input("Enter a string: ")         # input string
print("Length of","'",str,"'","= ", len(str))   # len() returns length

Enter a string: Diksha
Length of ' Diksha ' =  6

In [40]:
# 26. Accept marks and print corresponding grade using conditions.

marks = int(input("Enter your marks: "))   # input marks
# check conditions
if marks > 100:
    print("Invalid marks")
elif marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: F")

Enter your marks: 96
Grade: A

In [41]:
# 27. Check if a number is a multiple of 4 or 6.

num = int(input("Enter a number: "))   # input number
if num % 4 == 0 or num % 6 == 0:       # check divisibility
    print("Divisible by 4 or 6")
else:
    print("NOT Divisible by 4 or 6")

Enter a number: 24
Divisible by 4 or 6

In [42]:
# 28. Print numbers divisible by 7 but not by 5 in a given range.

start = int(input("Enter start: "))    # range start
end = int(input("Enter end: "))        # range end
for i in range(start, end+1):
    if i % 7 == 0 and i % 5 != 0:      # condition
        print(i, end=" ")

Enter start: 1
Enter end: 100
7 14 21 28 42 49 56 63 77 84 91 98

In [45]:
# 29. Evaluate a mathematical expression entered as a string.

exp = input("Enter a mathematical expression: ")  # input string expression
print("Result= ", eval(exp))                      # eval() evaluates it

Enter a mathematical expression: a-b
Result=  220.0

In [46]:
# 30. Convert kilometers to miles and vice versa.

km = float(input("Enter kilometers: "))   # input km
miles = km * 0.621371                     # convert km to miles
print("Miles:", miles)
m = float(input("Enter miles: "))         # input miles
km = m / 0.621371                         # convert miles to km
print("Kilometers:", km)

Enter kilometers: 20
Miles: 12.42742
Enter miles: 60
Kilometers: 96.5606698735538

In [47]:
# 31. Create a program to find the cube of a number.

num = int(input("Enter a number: "))    # taking user input
print("Cube of",num,"=", num** 3)       # raise to power 3

Enter a number: 15
Cube of 15 = 3375

In [48]:
# 32. Write a program to display your name 5 times using a loop.

name = input("Enter your name: ")   # taking user input
for i in range(5):                  # loop 5 times
    print(name)

Enter your name: Diksha
Diksha
Diksha
Diksha
Diksha
Diksha