<a href="https://colab.research.google.com/github/DikshaShelar56/CoffeeShop_Management_System/blob/main/Week_3_D4_DikshaShelar_DSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1. Create a list of integers and compute the sum, average, and product.

n = int(input("How many numbers? "))
nums = []
for i in range(n):
    nums.append(int(input("Enter number: ")))

total = sum(nums)        # sum using built-in
avg = total / len(nums)
prod = 1
for x in nums:           # loop to multiply
    prod *= x

print("Numbers:", nums)
print("Sum =", total)
print("Average =", avg)
print("Product =", prod)

How many numbers? 5
Enter number: 1
Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Numbers: [1, 2, 3, 4, 5]
Sum = 15
Average = 3.0
Product = 120

In [3]:
# 2. Write a program to find the maximum and minimum elements in a list.

n = int(input("How many numbers? "))
nums = []
for i in range(n):
    nums.append(int(input("Enter number: ")))
print("Maximum:", max(nums))           # built-in max
print("Minimum:", min(nums))           # built-in min

How many numbers? 6
Enter number: 12
Enter number: 45
Enter number: 98
Enter number: 100
Enter number: 0
Enter number: 365
Maximum: 365
Minimum: 0

In [4]:
# 3. Remove duplicates from a list using a set.

n = int(input("How many numbers? "))
nums = []
for i in range(n):
    nums.append(int(input("Enter number: ")))
unique = list(set(nums))               # convert to set then list
print("List without duplicates:", unique)

How many numbers? 3
Enter number: 8
Enter number: 6
Enter number: 6
List without duplicates: [8, 6]

In [1]:
# 4. Create a tuple and demonstrate slicing and indexing.

t = tuple(input("Enter elements separated (no spaces): "))  # make a tuple
print("Tuple:", t)
print("First element:", t[0])          # indexing
print("Last element:", t[-1])          # negative indexing
print("Slice [1:4]:", t[1:4])          # slicing

Enter elements separated (no spaces): hello
Tuple: ('h', 'e', 'l', 'l', 'o')
First element: h
Last element: o
Slice [1:4]: ('e', 'l', 'l')

In [3]:
# 5. Write a program to convert a list to a tuple and vice versa.

n = int(input("How many numbers? "))
nums = []
for i in range(n):
    nums.append(int(input("Enter number: ")))
t = tuple(nums)                        # list into tuple
l = list(t)                            # tuple into list
print("Tuple:", t)
print("List:", l)

How many numbers? 3
Enter number: 65
Enter number: 56
Enter number: 2
Tuple: (65, 56, 2)
List: [65, 56, 2]

In [5]:
# 6. Merge two lists into one without using +.

n1 = int(input("How many in first list? "))
list1 = []
for i in range(n1):
    list1.append(int(input("Enter number: ")))
n2 = int(input("How many in second list? "))
list2 = []
for i in range(n2):
    list2.append(int(input("Enter number: ")))
list1.extend(list2)                    # extend method merges the lists
print("Merged list:", list1)

How many in first list? 2
Enter number: 20
Enter number: 30
How many in second list? 4
Enter number: 400
Enter number: 500
Enter number: 600
Enter number: 700
Merged list: [20, 30, 400, 500, 600, 700]

In [7]:
# 7. Find the intersection and union of two sets.

a = set(input("Enter first set elements without space: "))   # make set
b = set(input("Enter second set elements without space: "))
print("Union:", a | b)                 # union using | operator
print("Intersection:", a & b)          # intersection using & operator

Enter first set elements without space: 12345
Enter second set elements without space: 56789
Union: {'7', '1', '5', '2', '8', '9', '3', '6', '4'}
Intersection: {'5'}

In [8]:
# 8. Create a dictionary to store names and ages, then display them.

n = int(input("How many people? "))
people = {}                            # empty dictionary
for i in range(n):
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    people[name] = age                 # store key:value
print("Dictionary:", people)
for k, v in people.items():            # display each pair
    print(k, "is", v, "years old")

How many people? 4
Enter name: Dilip
Enter age: 52
Enter name: Dipti
Enter age: 45
Enter name: Pritee
Enter age: 24
Enter name: Diksha
Enter age: 19
Dictionary: {'Dilip': 52, 'Dipti': 45, 'Pritee': 24, 'Diksha': 19}
Dilip is 52 years old
Dipti is 45 years old
Pritee is 24 years old
Diksha is 19 years old

In [10]:
# 9. Write a program to sort a list of tuples by the second element.

n = int(input("Enter number of tuples: "))
tuples_list = []
for i in range(n):
    a = input(f"Enter first element of tuple {i+1}: ")
    b = int(input(f"Enter second element of tuple {i+1}: "))
    tuples_list.append((a, b))   # Append tuple to list
sorted_list = sorted(tuples_list, key=lambda x: x[1])   # Sort by second element
print("Sorted list of tuples:", sorted_list)

Enter number of tuples: 2
Enter first element of tuple 1: 100
Enter second element of tuple 1: 200
Enter first element of tuple 2: 300
Enter second element of tuple 2: 400
Sorted list of tuples: [('100', 200), ('300', 400)]

In [12]:
# 10. Count occurrences of each element in a list using a dictionary.

elements = input("Enter elements separated by space: ").split()
count_dict = {}
for item in elements:
    count_dict[item] = count_dict.get(item, 0) + 1   # Count occurrences
print("Occurrences:", count_dict)

Enter elements separated by space: 1 2 3 4 5 5 4 3 2 1 1 7 5 7
Occurrences: {'1': 3, '2': 2, '3': 2, '4': 2, '5': 3, '7': 2}

In [13]:
# 11. Find the length of a set after adding and removing elements.

nums = set(map(int, input("Enter numbers separated by space: ").split()))
add_num = int(input("Enter number to add: "))
remove_num = int(input("Enter number to remove: "))
nums.add(add_num)           # Add element
nums.discard(remove_num)    # Remove element
print("Length of set:", len(nums))

Enter numbers separated by space: 20 30 40 50
Enter number to add: 10
Enter number to remove: 50
Length of set: 4

In [14]:
# 12. Create a nested dictionary for student marks in 3 subjects.

students = {}
n = int(input("Enter number of students: "))
for i in range(n):
    name = input(f"Enter name of student {i+1}: ")
    marks = {}
    for subject in ["Math", "Science", "English"]:
        marks[subject] = int(input(f"Enter {subject} marks: "))
    students[name] = marks
print("Student Marks Dictionary:", students)

Enter number of students: 3
Enter name of student 1: Diksha
Enter Math marks: 95
Enter Science marks: 98
Enter English marks: 100
Enter name of student 2: Shreya
Enter Math marks: 96
Enter Science marks: 94
Enter English marks: 91
Enter name of student 3: Amey
Enter Math marks: 80
Enter Science marks: 93
Enter English marks: 89
Student Marks Dictionary: {'Diksha': {'Math': 95, 'Science': 98, 'English': 100}, 'Shreya': {'Math': 96, 'Science': 94, 'English': 91}, 'Amey': {'Math': 80, 'Science': 93, 'English': 89}}

In [15]:
# 13. Check if a key exists in a dictionary.

d = {}
n = int(input("Enter number of key-value pairs: "))
for i in range(n):
    key = input("Enter key: ")
    value = input("Enter value: ")
    d[key] = value
check_key = input("Enter key to check: ") # input key from user
print("Key exists!" if check_key in d else "Key does not exist.") # Check if key is present

Enter number of key-value pairs: 2
Enter key: 1
Enter value: one
Enter key: 2
Enter value: two
Enter key to check: 3
Key does not exist.

In [18]:
# 14. Write a program to concatenate two dictionaries.

d1 = {"x": 1, "y": 2}
d2 = {"a": 3, "b": 4}
d1.update(d2)  # In-built function Merge the dictionaries
print("Concatenated dictionary:", d1)

Concatenated dictionary: {'x': 1, 'y': 2, 'a': 3, 'b': 4}

In [19]:
# 15. Create a list and remove all even numbers.

lst = list(map(int, input("Enter numbers: ").split()))  # Input list
lst = [x for x in lst if x % 2 != 0]      # Keep only odd numbers
print("List without even numbers:", lst)

Enter numbers: 1 2 3 4 5 6 7 8
List without even numbers: [1, 3, 5, 7]

In [21]:
# 16. Accept a list and print all elements greater than a given value.

lst = list(map(int, input("Enter list elements: ").split()))  # Input list
val = int(input("Enter value: "))
greater = [x for x in lst if x > val]  # Filter elements greater than value
print("Elements greater than given value:", greater)

Enter list elements: 123 456 789
Enter value: 456
Elements greater than given value: [789]

In [23]:
# 17. Convert a string into a set of characters.

s = input("Enter a string: ")  # Input string
char_set = set(s)  # Convert into set of unique characters
print("Set of characters:", char_set)

Enter a string: diksha
Set of characters: {'s', 'h', 'k', 'd', 'a', 'i'}

In [24]:
# 18. Write a program to swap first and last elements of a list.

lst = list(map(int, input("Enter list elements: ").split()))  # Input list
lst[0], lst[-1] = lst[-1], lst[0]  # Swap first and last
print("List after swapping:", lst)

Enter list elements: 23 45 67 10 3 8 123
List after swapping: [123, 45, 67, 10, 3, 8, 23]

In [25]:
# 19. Merge two dictionaries, giving priority to the second one’s keys.

d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}
merged = {**d1, **d2}  # Merge with priority to d2
print("Merged dictionary:", merged)

Merged dictionary: {'a': 1, 'b': 3, 'c': 4}

In [26]:
# 20. Create a tuple with numbers and find the index of a specific value.

t = tuple(map(int, input("Enter tuple elements: ").split()))  # Input tuple
val = int(input("Enter value to find index: "))  # Input value
print("Index of value:", t.index(val))  # Print index

Enter tuple elements: 10 20 30 40
Enter value to find index: 30
Index of value: 2

In [27]:
# 21. Write a program to reverse a list without using reverse().

lst = list(map(int, input("Enter list elements: ").split()))  # Input list
rev = lst[::-1]  # Reverse using slicing
print("Reversed list:", rev)

Enter list elements: 10 20 30 40 50 60
Reversed list: [60, 50, 40, 30, 20, 10]

In [28]:
# 22. Accept two sets and print their symmetric difference.

s1 = set(map(int, input("Enter first set elements: ").split()))
s2 = set(map(int, input("Enter second set elements: ").split()))
print("Symmetric difference:", s1 ^ s2)  # The symmetric difference contains elements that are in either set

Enter first set elements: 1 2 3 4 5 6 7 8 9
Enter second set elements: 8 9 10 11 12 13 14
Symmetric difference: {1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 13, 14}

In [29]:
# 23. Create a dictionary from two lists: one for keys, one for values.

keys = input("Enter keys separated by space: ").split()  # Input list of keys
values = input("Enter values separated by space: ").split()  # Input list of values
d = dict(zip(keys, values))  # Pairs keys and values
print("Created dictionary:", d)

Enter keys separated by space: one two three four five
Enter values separated by space: 1 2 3 4 5
Created dictionary: {'one': '1', 'two': '2', 'three': '3', 'four': '4', 'five': '5'}

In [31]:
# 24. Remove a random element from a set.

import random  # Import random module
s = set(map(int, input("Enter set elements: ").split()))  # Input set
removed = s.pop()  # Remove a random element
print("Removed element:", removed)  # Print removed element
print("Remaining set:", s)

Enter set elements: 1 2 3 4
Removed element: 1
Remaining set: {2, 3, 4}

In [32]:
# 25. Write a program to clear all elements from a list.

lst = list(map(int, input("Enter list elements: ").split()))  # Input list
lst.clear()  # Clear list
print("Cleared list:", lst)  # Print result (empty list)

Enter list elements: 10 20 30 40 50 60
Cleared list: []

In [33]:
# 26. Create a list of squares of numbers 1–10 using list comprehension.

squares = [x**2 for x in range(1, 11)]  # Create list of squares
print("Squares from 1–10:", squares)

Squares from 1–10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
# 27. Filter out all None values from a list.

lst = [1, None, 2, None, 3]  # Example list
filtered = [x for x in lst if x is not None]  # Remove None values
print("List without None:", filtered)  # Print result

List without None: [1, 2, 3]

In [35]:
# 28. Accept a list and print elements at even indices.

lst = list(map(int, input("Enter list elements: ").split()))  # Input list
even_index_elements = [lst[i] for i in range(0, len(lst), 2)]  # Elements at even indices
print("Elements at even indices:", even_index_elements)

Enter list elements: 9 8 7 6 5 4
Elements at even indices: [9, 7, 5]

In [36]:
# 29. Write a program to flatten a nested list.

nested = [[1, 2], [3, 4], [5, 6]]  # Example nested list
flat = [item for sublist in nested for item in sublist]  # Flatten the nested list into a single list
print("Flattened list:", flat)

Flattened list: [1, 2, 3, 4, 5, 6]

In [37]:
# 30. Find all keys in a dictionary whose values are greater than 50.

d = {"a": 40, "b": 60, "c": 70}  # Example dictionary
keys = [k for k, v in d.items() if v > 50]  # Filter keys
print("Keys with values > 50:", keys)

Keys with values > 50: ['b', 'c']

In [38]:
# 31. Check if two lists are equal.

lst1 = list(map(int, input("Enter first list: ").split()))
lst2 = list(map(int, input("Enter second list: ").split()))
if lst1 == lst2:  # Compare both
    print("Lists are equal")  # If equal
else:
    print("Lists are not equal")  # If not equal

Enter first list: 10 20 30 40 50
Enter second list: 10 20 30 40 50
Lists are equal

In [40]:
# 32. Create a program to convert a dictionary to a list of tuples.

d = {}
n = int(input("Enter number of key-value pairs: "))
for i in range(n):
    k = input("Enter key: ")
    v = input("Enter value: ")
    d[k] = v
tuple_list = list(d.items())  # Convert dict to list of tuples
print("List of tuples:", tuple_list)

Enter number of key-value pairs: 4
Enter key: 1
Enter value: one
Enter key: 2
Enter value: two
Enter key: 3
Enter value: three
Enter key: 4
Enter value: four
List of tuples: [('1', 'one'), ('2', 'two'), ('3', 'three'), ('4', 'four')]